.card {
  margin-top: 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 25rem;
}

.card-header,
.card-title {
  text-align: center;
}

.btn {
  width: 100%;
}

.btn-success {
  margin-top: 0.5em;
}
